region                  = "us-east-1"
ami_id                  = "ami-091138d0f0d41ff90"
master_instance_type    = "t3.small"
worker_instance_type    = "t3.micro"
key_name                = "my-key"
project_name            = "kubernetes-cluster"
master_availability_zone = "us-east-1a"
worker_availability_zone = "us-east-1b"
master_subnet_cidr      = "10.0.1.0/24"
worker_subnet_cidr      = "10.0.2.0/24"
iam_user_name           = "AhmadYar"
